
.btn-black{
     color:#ffffff;
     background-color:#425367;
}
.btn-black:hover{
     background-color:#3E445C;
}
.btn-red{
     color:#ffffff;
     background-color:#FE5455;
}
.btn-red:hover{
     background-color:#EE4E4F;
}
.btn-blue{
     color:#ffffff;
     background-color:#3D98E2;
}
.btn-blue:hover{
     background-color:#328ED9;
}
.btn-white-border {
    border-radius: 5px;
    border-color: #E1E1E1;
    color: #333A4D;
    background-color: #FFFFFF;
}
.btn-white-border:hover{
     background-color:#F4F4F4;
}
.page-title {
  line-height: 1.5;
  color:#425367;
}
.control-label {
  color:#425367;
}
.grid-header {
  font-weight:400;
  color:#425367;
}
.grid-item {
  color:#425367;
}
.bg-black-color{
    background-color:#333A4D;
}


